<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <title>Home</title>
   
<h1> this is the home page   </h1>
<h1>Home</h1>
 
</head>
<body>
    <div>
     
 @Model.Name
 </div>


</body>
</html>   