@model EFGetStarted.AspNetCore.NewDb.ViewModels.HomePageViewModel

 
@{
    ViewBag.Titel = "home";
}
   <table>
       @foreach (var restaurant in Model.Restaurants){
        <tr>
            <td>@Html.ActionLink(restaurant.Id.ToString(),"Details", new {id = restaurant.Id}) </td>
        
            <td>@restaurant.Name</td>
            <td>@restaurant.Name</td>
        </tr>
                
       }
</table>
