@model EFGetStarted.AspNetCore.NewDb.ViewModels.HomePageViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
 <title>@Model.CurrentGreeting</title>
<body>
   <table>
       @foreach (var restaurant in Model.Restaurants){
        <tr>
            <td>@restaurant.Id </td>
        
            <td>@restaurant.Name</td>
            <td>@restaurant.Name</td>
        </tr>
                
       }
</table>
    
</body>
</html>